<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
>

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            tools:targetApi="31"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.Hdmi">
        <meta-data
                android:name="xposedmodule"
                android:value="true" />
        <meta-data
                android:name="xposeddescription"
                android:value="Directly allow ColorOS/OxygenOS to connect an external display over USB without a second confirmation. If it does not work after enabling, reboot your device. Issues: https://github.com/Xposed-Modules-Repo/io.github.y9hack337.oplus.display/issues" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
                android:name="xposedscope"
                android:resource="@array/xp_scope" />

        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
    </application>

</manifest>
